In [4]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score, confusion_matrix
%matplotlib inline

from sklearn.feature_extraction.text import CountVectorizer 
import os

In [5]:
os.chdir("C:\\Users\\admin\\Downloads")

In [6]:
df = pd.read_csv("Fraud_Data.csv")

In [7]:
df.head(3)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,class
0,22058,2/24/15 22:55,4/18/15 2:47,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,0
1,333320,6/7/15 20:39,6/8/15 1:38,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,0
2,1359,1/1/15 18:52,1/1/15 18:52,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,1

In [16]:
del df["device_id"]

In [18]:
df.columns

Index(['signup_time', 'purchase_time', 'purchase_value', 'source', 'browser',
       'sex', 'age', 'class'],
      dtype='object')

In [19]:
from datetime import datetime

In [25]:
df["signup_time"] = pd.to_datetime(df["signup_time"])

In [40]:
df["signup_time"]= df["signup_time"].dt.strftime("%H:%M")

In [42]:
df["purchase_time"] = pd.to_datetime(df["purchase_time"])

In [43]:
df["purchase_time"]= df["purchase_time"].dt.strftime("%H:%M")

In [45]:
df.describe()

       purchase_value            age          class
count   151112.000000  151112.000000  151112.000000
mean        36.935372      33.140704       0.093646
std         18.322762       8.617733       0.291336
min          9.000000      18.000000       0.000000
25%         22.000000      27.000000       0.000000
50%         35.000000      33.000000       0.000000
75%         49.000000      39.000000       0.000000
max        154.000000      76.000000       1.000000

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 8 columns):
signup_time       151112 non-null object
purchase_time     151112 non-null object
purchase_value    151112 non-null int64
source            151112 non-null object
browser           151112 non-null object
sex               151112 non-null object
age               151112 non-null int64
class             151112 non-null int64
dtypes: int64(3), object(5)
memory usage: 9.2+ MB

In [52]:
df.isnull().sum()

signup_time       0
purchase_time     0
purchase_value    0
source            0
browser           0
sex               0
age               0
class             0
dtype: int64

In [53]:
df.head(5)

  signup_time purchase_time  purchase_value source browser sex  age  class
0       22:55         02:47              34    SEO  Chrome   M   39      0
1       20:39         01:38              16    Ads  Chrome   F   53      0
2       18:52         18:52              15    SEO   Opera   M   53      1
3       21:13         13:54              44    SEO  Safari   M   41      0
4       07:09         18:40              39    Ads  Safari   M   45      0

In [57]:
df.duplicated().value_counts()

False    144483
True       6629
dtype: int64

In [66]:
df1=df.drop_duplicates()

In [67]:
df2=df[df.duplicated()]

In [62]:
len(df)

151112

In [68]:
len(df1)

144483

In [71]:
df3 = pd.get_dummies(df, columns=["source","browser","sex"], prefix="is")

In [72]:
df3.head(5)

,signup_time,purchase_time,purchase_value,age,class,is_Ads,is_Direct,is_SEO,is_Chrome,is_FireFox,is_IE,is_Opera,is_Safari,is_F,is_M
0,22:55,02:47,34,39,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,20:39,01:38,16,53,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,18:52,18:52,15,53,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,21:13,13:54,44,41,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,07:09,18:40,39,45,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [78]:
df3['class'].value_counts(ascending=True)

1     14151
0    136961
Name: class, dtype: int64

In [123]:
del df3["signup_time"]

In [124]:
del df3["purchase_time"]

In [125]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression

In [141]:
df2.columns

Index(['signup_time', 'purchase_time', 'purchase_value', 'source', 'browser',
       'sex', 'age', 'class'],
      dtype='object')

In [126]:
x = df3.drop(["class"],axis=1)
y= df3["class"]

In [127]:
x.columns

Index(['purchase_value', 'age', 'is_Ads', 'is_Direct', 'is_SEO', 'is_Chrome',
       'is_FireFox', 'is_IE', 'is_Opera', 'is_Safari', 'is_F', 'is_M'],
      dtype='object')

In [128]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [129]:
np.sum(y_train)

9966

In [131]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['purchase_value','class', 'age', 'is_Ads','is_Direct', 'is_SEO', 'is_Chrome', 'is_FireFox', 'is_IE', 'is_Opera','is_Safari', 'is_F', 'is_M']
le = LabelEncoder()
for i in var_mod:
    df3[i] = le.fit_transform(df3[i])
df3.dtypes

purchase_value    int64
age               int64
class             int64
is_Ads            int64
is_Direct         int64
is_SEO            int64
is_Chrome         int64
is_FireFox        int64
is_IE             int64
is_Opera          int64
is_Safari         int64
is_F              int64
is_M              int64
dtype: object

In [132]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import preprocessing

In [133]:
df3 = pd.DataFrame(df3)

In [115]:
x["signup_time"]=pd.to_numeric(x["signup_time"],errors='ignore')

In [117]:
x["purchase_time"]=pd.to_numeric(x["purchase_time"],errors='ignore')

In [134]:
estimator = DecisionTreeClassifier(criterion = "gini",min_samples_leaf=10).fit(x_train,y_train)

In [135]:
x.dtypes

purchase_value    int64
age               int64
is_Ads            int64
is_Direct         int64
is_SEO            int64
is_Chrome         int64
is_FireFox        int64
is_IE             int64
is_Opera          int64
is_Safari         int64
is_F              int64
is_M              int64
dtype: object

In [137]:
print(estimator.score(x_train,y_train))
print(estimator.score(x_test,y_test))

0.917563198397
0.906869016632

In [138]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100,max_features=5).fit(x_train,y_train)

#validate the model performance on unseen data
rf.score(x_test, y_test)

0.92204526404023468

In [139]:
logreg = LogisticRegression().fit(x_train,y_train)
logreg.score(x_test,y_test)

0.90768518110027796